<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top">
    <div class="navbar-header">
      <a href="/" class="navbar-left"><img class="img-circle" src="/images/navImage.jpg" max-width="25px"></a>





      <ul class="nav navbar-nav navbar-right-middle">
        <li><a href="/about">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/needs-analysis">Needs Analysis</a></li>
            <li><a href="/nightstand">DIY Nightstand</a></li>
            <li><a href="/weather-app">What's the Weather? Coming Soon</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gardens
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/gardens2018">2018 Coming Soon!</a></li>
            <li><a href="/gardens2017">2017</a></li>
            <li><a href="/gardens2016">2016</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</header>
