<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-left"><img class="img-circle" src="/images/navImage.jpg" max-width="25px"></a>
      </div>
      <ul class="nav navbar-nav navbar-right-middle">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/gardens">Gardens</a></li>
        <li><a href="/investing">Investing</a></li>
      </ul>
    </div>
  </nav>

</header>
