<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/gardens.css">
    <script type="text/javascript" src="../js/gardens.js"></script>

    <title>2018 West Leigh Street Gardens</title>
  </head>

  {{> header}}

  <body>
    <div class="container text-center">
      <h2>2018 COMING SOON!</h2>
      <div class="row justify-content-center">
        <div class="col">
          <img id="seeds" src="images/comingSoon.jpg" alt="2018 Seeds" width="500px">
        </div>
      </div>
      <div class="row">




        <ul class="pager">
          <li><a href="/gardens2017">2017</a></li>
          <li><a href="/gardens2016">2016</a></li>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row" id="weather"></div>
      </div>
    </div>


  </body>

  {{> footer}}

</html>
